@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Song+Myung&family=Yeon+Sung&display=swap");

.inform {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #808e74;
}

.inform-box {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 390px;
  margin-top: 30px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.inform img {
  height: 200px;
  width: auto;
  padding: 40px 0px 20px 0px;
}

.inform-box__sub {
  position: relative;
  left: 110px;
  font-family: "Song Myung", serif;
  padding: 10px 0px 10px 0px;
  font-size: 20px;
  font-weight: 600;
}

.inform-box__img {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-color: #808e74;
  border-radius: 40px 0px 40px 0px;
}

.inform-box__text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  height: 300px;
  width: 340px;
  padding-top: 10px;
  font-family: "Yeon Sung", cursive;
}

.inform-box__text i {
  position: relative;
  bottom: 3px;
  color: crimson;
  padding-right: 5px;
}

.inform-box__text span {
  font-size: 25px;
  font-weight: 600;
}

.inform-box__text p {
  font-size: 18px;
  padding-bottom: 3px;
}

.part-text {
  padding-top: 5px;
}
