@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Yeon+Sung&display=swap");

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #808e74;
}

.intro-box {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 400px;
  margin-top: 30px;
  align-items: center;
  border: 2px solid white;
}

.intro img {
  height: 200px;
  width: auto;
  padding: 40px 0px;
}

#subject {
  font-size: 30px;
  font-weight: 600;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  padding: 7px 40px;
  background-color: #cd9c00;
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
}

.act {
  display: flex;
  width: 330px;
  height: 310px;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  background-color: whitesmoke;
  border-radius: 10px;
}

.act-box {
  padding-left: 20px;
  font-family: "Yeon Sung", cursive;
}

.act-box span {
  font-size: 30px;
  font-weight: 600;
}

.act-box p {
  padding: 3px 0px 0px 35px;
}

.act-box i {
  color: wheat;
  padding-right: 5px;
}
