@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Yeon+Sung&display=swap");

.main {
  display: flex;
  flex-direction: column;

  height: 100%;
  align-items: center;
  background-color: #808e74;
}

.main-box {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 350px;
  margin-top: 30px;
  align-items: center;
  border: 2px solid white;
}

.main-box--btn input {
  width: 200px;
  height: 35px;
  background-color: #cd9c00;
  color: black;
  font-size: 20px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  border: 2px solid wheat;
  border-radius: 10px;
}

.main-box--btn i {
  position: relative;
  bottom: 3px;
  color: #fbcd2f;
}

.main img {
  height: 200px;
  width: auto;
  padding: 40px 0px;
}
