.next {
  display: flex;
  position: relative;
  left: 125px;
  padding-top: 10px;
}

.next input {
  background-color: #cd9c00;
  height: 30px;
  width: 70px;
  border: 2px solid wheat;
  border-radius: 13px;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  font-weight: 200;
}

.next i {
  position: relative;
  top: 15px;
  color: wheat;
  padding-right: 8px;
}

.next-inform input {
  width: 90px;
  font-size: 19px;
  font-weight: 600;
  color: black;
  font-family: "Yeon Sung", cursive;
}

.next-inform i {
  color: chocolate;
}
